Client/Connected Services/ClientsCommunicationService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WCF_Service" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="IPAddress" nillable="true" type="q1:IPEndPoint" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="ConnectResult" type="q2:OperationResultOfServerClienta_PaS5gWf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientIPAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="serverClient" nillable="true" type="q3:ServerClient" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="newIPAddress" nillable="true" type="q4:IPEndPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientIPAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="UpdateClientIPAddressResult" type="q5:OperationResultOfServerClienta_PaS5gWf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNickName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="serverClient" nillable="true" type="q6:ServerClient" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNickNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="ChangeNickNameResult" type="q7:OperationResultOfServerClienta_PaS5gWf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="serverClient" nillable="true" type="q8:ServerClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="DisconnectResult" nillable="true" type="q9:ServerFault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="serverClient" nillable="true" type="q10:ServerClient" />
        <xs:element minOccurs="0" name="sessionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="CreateSessionResult" type="q11:OperationResultOfTupleOfSessionServerClientKM2EbN685F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q12:Session" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="RenameSessionResult" type="q13:OperationResultOfSessiona_PaS5gWf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSessionPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q14:Session" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSessionPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="ChangeSessionPasswordResult" type="q15:OperationResultOfSessiona_PaS5gWf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="GetSessionsListResult" type="q16:OperationResultOfArrayOfSessiona_PaS5gWf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="serverClient" nillable="true" type="q17:ServerClient" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q18:Session" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="deletionCause" nillable="true" type="q19:SessionDeletionCause" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="DeleteSessionResult" type="q20:OperationResultOfServerClienta_PaS5gWf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectFromSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q21:Session" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="serverClient" nillable="true" type="q22:ServerClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectFromSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="DisconnectFromSessionResult" type="q23:OperationResultOfTupleOfSessionServerClientKM2EbN685F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q24:Session" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="serverClient" nillable="true" type="q25:ServerClient" />
        <xs:element minOccurs="0" name="sessionPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="JoinSessionResult" type="q26:OperationResultOfTupleOfSessionServerClientKM2EbN685F2dSckg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewSessionCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="newSession" nillable="true" type="q27:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewSessionCreatedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientJoinedSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q28:Session" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="joinedClient" nillable="true" type="q29:ServerClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientJoinedSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLeftSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q30:Session" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="clientLeft" nillable="true" type="q31:ServerClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLeftSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionNameChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q32:Session" />
        <xs:element minOccurs="0" name="sessionOldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionNewName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionNameChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionPasswordChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q33:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionPasswordChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionClientNickNameChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q34:Session" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="serverClient" nillable="true" type="q35:ServerClient" />
        <xs:element minOccurs="0" name="clientOldNickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientNewNickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionClientNickNameChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionClientIPAddressChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q36:Session" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="serverClient" nillable="true" type="q37:ServerClient" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="clientOldIPAddress" nillable="true" type="q38:IPEndPoint" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="clientNewIPAddress" nillable="true" type="q39:IPEndPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionClientIPAddressChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="serverClient" nillable="true" type="q40:ServerClient" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="session" nillable="true" type="q41:Session" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="sessionDeletionCause" nillable="true" type="q42:SessionDeletionCause" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionDeletedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerShutDownNoticeReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="millisecondsBeforeShutDown" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerShutDownNoticeReceiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>