Client/Connected Services/ClientsCommunicationService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WCF_Service" />
  <xs:complexType name="TupleOfSessionServerClientKM2EbN68">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Session" Namespace="http://schemas.datacontract.org/2004/07/WCF_Service" />
          <GenericParameter Name="ServerClient" Namespace="http://schemas.datacontract.org/2004/07/WCF_Service" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Service" name="m_Item1" nillable="true" type="q1:Session" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Service" name="m_Item2" nillable="true" type="q2:ServerClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfSessionServerClientKM2EbN68" nillable="true" type="tns:TupleOfSessionServerClientKM2EbN68" />
</xs:schema>